@model DbContextModel.Framework.ThongTinBDS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThongTinBDS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anh.DuongDan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh.DuongDan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huong.TenHuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huong.TenHuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuDanCu.TenKhuDanCu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuDanCu.TenKhuDanCu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiBD.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiBD.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuanHuyen.TenQuanHuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuanHuyen.TenQuanHuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTin.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTin.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChieuDai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChieuDai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChieuRong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChieuRong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTChuBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTChuBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
