@model IEnumerable<DbContextModel.Framework.KhuDanCu>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Thêm khu dân cư mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKhuDanCu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhuDanCu)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaKhuDanCu }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaKhuDanCu }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaKhuDanCu })
        </td>
    </tr>
}

</table>
