@model IEnumerable<DbContextModel.Framework.LoaiBDS>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Thêm loại bất động sản", "Create")
</p>

<table class="table">
    <tr>
        <th>STT</th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoai)
        </th>
        <th></th>
    </tr>
    @{
        var i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
                @{ i++; }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaLoai }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaLoai }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaLoai })
            </td>
        </tr>
    }

</table>
