@model IEnumerable<DbContextModel.Framework.TaiKhoan>

@{
    ViewBag.Title = "Danh sách tài khoản";
}

<h3>Trang tài khoản</h3>
<p>
    @Html.ActionLink("Thêm tài khoản", "Create")
</p>
<table class="table">
    <tr>
        <th>STT</th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTins.FirstOrDefault().HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTins.FirstOrDefault().SDT)
        </th>

        <th></th>
    </tr>
    @{
        var i = 1;
    }
    @foreach (var item in Model)
    {
<tr>
    <td>
        @i
        @{ i++; }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>

    <td>
        @Html.DisplayFor(model => item.ThongTins.FirstOrDefault().HoTen)
    </td>
    <td>
        @Html.DisplayFor(model => item.ThongTins.FirstOrDefault().SDT)
    </td>
    <td>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.UserName }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.UserName }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.UserName })
    </td>
</tr>
    }

</table>
