@using DbContextModel.Framework;

@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script>
        var  mahuong = makhudancu = maloaibds = maquanhuyen = giatien = -1;
        function showInfo() {
            console.log(mahuong, makhudancu, maloaibds, maquanhuyen, giatien)
            $.ajax({
                url: "/Home/showInfo",
                success: function (result) {
                    $("#data").html(result);
                },
                data: {
                    id_mahuong: mahuong,
                    id_khudancu: makhudancu,
                    id_maloaibds: maloaibds,
                    id_maquanhuyen: maquanhuyen,
                    id_giatien: giatien
                }

            });
        }
        showInfo()

        function changeHuong(e) {
            if ($("#MaHuong").val() === "") {
                mahuong = -1;
            } else mahuong = $("#MaHuong").val()
        }

        function changeKhuDanCu(e) {
            if ($("#MaKhuDanCu").val() === "") {
                makhudancu = -1;
            } else makhudancu = $("#MaKhuDanCu").val()
        }

        function changeLoai(e) {
            if ($("#MaLoai").val() === "") {
                maloaibds = -1;
            } else maloaibds = $("#MaLoai").val()
        }

        function changeQuanHuyen(e) {
            if ($("#MaQuanHuyen").val() === "") {
                maquanhuyen = -1;
            } else maquanhuyen = $("#MaQuanHuyen").val()
        }

        function changeGia(e) {
            if ($("#GiaTien").val() === "") {
                giatien = -1;
            }     
            else giatien = $("#GiaTien").val()
        }


    </script>
}

<ul class='dropdown-navigative-menu'>
    <li class="lv0 tablet">
        <a href="/tin-da-luu"> <span class="icon">
	<img src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/filled/ic_shortlist.svg">
	</span> <span class="text">Tin đăng đã lưu</span> </a>
    </li>
    <li class="lv0 tablet"><a href="/"><span class="icon"><img src="https://file4.batdongsan.com.vn/images/Icons/ic_house.png"></span><span class="text">Trang chủ</span></a> </li>
    <li class='lv0'><a href='/nha-dat-ban' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_for_sale.svg"></span><span class="text">Nhà đất bán</span></a>
        <ul>
            <li class='lv1'><a href='/ban-can-ho-chung-cu' class='haslink '>Nhà</a> </li>
            <li class='lv1'><a href='/ban-nha-rieng' class='haslink '>Đất</a> </li>
            <li class='lv1'><a href='/ban-nha-biet-thu-lien-ke' class='haslink '>Chung cư</a> </li>
            <li class='lv1'><a href='/ban-nha-mat-pho' class='haslink '>Kho, xưởng</a> </li>
            <li class='lv1'><a href='/ban-dat-nen-du-an' class='haslink '>Bất động sản khác</a> </li>
        </ul>
    </li>
    <li class='lv0'><a href='/nha-dat-cho-thue' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_for_rent.svg"></span><span class="text">Khu dân cư</span></a>
        <ul>
            <li class='lv1'><a href='/cho-thue-can-ho-chung-cu' class='haslink '>KDC Hồng Phát</a> </li>
            <li class='lv1'><a href='/cho-thue-nha-rieng' class='haslink '>KDC Nam Long</a> </li>
            <li class='lv1'><a href='/cho-thue-nha-mat-pho' class='haslink '>Cho thuê nhà mặt phố</a> </li>
            <li class='lv1'><a href='/cho-thue-nha-tro-phong-tro' class='haslink '>Cho thuê nhà trọ, phòng trọ</a> </li>
            <li class='lv1'><a href='/cho-thue-van-phong' class='haslink '>Cho thuê văn phòng</a> </li>
            <li class='lv1'><a href='/cho-thue-cua-hang-ki-ot' class='haslink '>Cho thuê cửa hàng - ki ốt</a> </li>
            <li class='lv1'><a href='/cho-thue-kho-nha-xuong-dat' class='haslink '>Cho thuê kho, nhà xưởng, đất</a> </li>
            <li class='lv1'><a href='/cho-thue-loai-bat-dong-san-khac' class='haslink '>Cho thuê loại bất động sản khác</a> </li>
        </ul>
    </li>
    <li class='lv0'><a href='/du-an-bat-dong-san' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_project.svg"></span><span class="text">Dự án</span></a>
        <ul>
            <li class='lv1'><a href='/can-ho-chung-cu' class='haslink '>Căn hộ, Chung cư</a> </li>
            <li class='lv1'><a href='/cao-oc-van-phong' class='haslink '>Cao ốc văn phòng</a> </li>
            <li class='lv1'><a href='/trung-tam-thuong-mai' class='haslink '>Trung tâm thương mại</a> </li>
            <li class='lv1'><a href='/khu-do-thi-moi' class='haslink '>Khu đô thị mới</a> </li>
            <li class='lv1'><a href='/khu-phuc-hop' class='haslink '>Khu phức hợp</a> </li>
            <li class='lv1'><a href='/nha-o-xa-hoi' class='haslink '>Nhà ở xã hội</a> </li>
            <li class='lv1'><a href='/khu-nghi-duong-sinh-thai' class='haslink '>Khu nghỉ dưỡng, Sinh thái</a> </li>
            <li class='lv1'><a href='/khu-cong-nghiep' class='haslink '>Khu công nghiệp</a> </li>
            <li class='lv1'><a href='/du-an-khac' class='haslink '>Dự án khác</a> </li>
            <li class='lv1'><a href='/biet-thu-lien-ke' class='haslink '>Biệt thự, liền kề</a> </li>
        </ul>
    </li>
    <li class='lv0'><a href='/can-mua-can-thue' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_buy_rent.svg"></span><span class="text">Cần mua - Cần thuê</span></a>
        <ul>
            <li class='lv1'><a href='/nha-dat-can-mua' class='haslink indent'>Nhà đất cần mua</a>
                <ul>
                    <li class='lv2'><a href='/mua-can-ho-chung-cu' class='haslink '>Mua căn hộ chung cư</a> </li>
                    <li class='lv2'><a href='/mua-nha-rieng' class='haslink '>Mua nhà riêng</a> </li>
                    <li class='lv2'><a href='/mua-nha-biet-thu-lien-ke' class='haslink '>Mua nhà biệt thự, liền kề</a> </li>
                    <li class='lv2'><a href='/mua-nha-mat-pho' class='haslink '>Mua nhà mặt phố</a> </li>
                    <li class='lv2'><a href='/mua-dat-nen-du-an' class='haslink '>Mua đất nền dự án</a> </li>
                    <li class='lv2'><a href='/mua-dat' class='haslink '>Mua đất</a> </li>
                    <li class='lv2'><a href='/mua-trang-trai-khu-nghi-duong' class='haslink '>Mua trang trại, khu nghỉ dưỡng</a> </li>
                    <li class='lv2'><a href='/mua-kho-nha-xuong' class='haslink '>Mua kho, nhà xưởng</a> </li>
                    <li class='lv2'><a href='/mua-cac-loai-bat-dong-san-khac' class='haslink '>Mua loại bất động sản khác</a> </li>
                </ul>
            </li>
            <li class='lv1'><a href='/nha-dat-can-thue' class='haslink indent'>Nhà đất cần thuê</a>
                <ul>
                    <li class='lv2'><a href='/can-thue-can-ho-chung-cu' class='haslink '>Cần thuê căn hộ chung cư</a> </li>
                    <li class='lv2'><a href='/can-thue-nha-rieng' class='haslink '>Cần thuê nhà riêng</a> </li>
                    <li class='lv2'><a href='/can-thue-nha-mat-pho' class='haslink '>Cần thuê nhà mặt phố</a> </li>
                    <li class='lv2'><a href='/can-thue-nha-tro-phong-tro' class='haslink '>Cần thuê nhà trọ, phòng trọ</a> </li>
                    <li class='lv2'><a href='/can-thue-van-phong' class='haslink '>Cần thuê văn phòng</a> </li>
                    <li class='lv2'><a href='/can-thue-cua-hang-ki-ot' class='haslink '>Cần thuê cửa hàng - ki ốt</a> </li>
                    <li class='lv2'><a href='/can-thue-kho-nha-xuong-dat' class='haslink '>Cần thuê kho, nhà xưởng, đất</a> </li>
                    <li class='lv2'><a href='/can-thue-loai-bat-dong-san-khac' class='haslink '>Cần thuê loại bất động sản khác</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class='lv0'><a href='/tin-tuc' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_news.svg"></span><span class="text">Tin tức</span></a>
        <ul>
            <li class='lv1'><a href='/Covid-19' class='haslink '>BĐS & Covid-19</a> </li>
            <li class='lv1'><a href='/tin-thi-truong' class='haslink '>Tin thị trường</a> </li>
            <li class='lv1'><a href='/interaktivestory' class='haslink '>Interaktive Story</a> </li>
            <li class='lv1'><a href='/phan-tich-nhan-dinh' class='haslink '>Phân tích - nhận định</a> </li>
            <li class='lv1'><a href='/chinh-sach-quan-ly' class='haslink '>Chính sách - Quản lý</a> </li>
            <li class='lv1'><a href='/thong-tin-quy-hoach' class='haslink '>Thông tin quy hoạch</a> </li>
            <li class='lv1'><a href='/bat-dong-san-the-gioi' class='haslink '>Bất động sản thế giới</a> </li>
            <li class='lv1'><a href='/tai-chinh-chung-khoan-bat-dong-san' class='haslink '>Tài chính - Chứng khoán - BĐS</a> </li>
            <li class='lv1'><a href='/tu-van-luat-bat-dong-san' class='haslink indent'>Tư vấn luật</a>
                <ul>
                    <li class='lv2'><a href='/trinh-tu-thu-tuc' class='haslink '> Trình tự, thủ tục</a> </li>
                    <li class='lv2'><a href='/quyen-so-huu' class='haslink '>Quyền sở hữu</a> </li>
                    <li class='lv2'><a href='/tranh-chap' class='haslink '>Tranh chấp</a> </li>
                    <li class='lv2'><a href='/xay-dung-hoan-cong' class='haslink '>Xây dựng - Hoàn công</a> </li>
                    <li class='lv2'><a href='/nghia-vu-tai-chinh' class='haslink '>Nghĩa vụ tài chính</a> </li>
                    <li class='lv2'><a href='/cac-van-de-co-yeu-to-nuoc-ngoai' class='haslink '>Các vấn đề có yếu tố nước ngoài</a> </li>
                </ul>
            </li>
            <li class='lv1'><a href='/loi-khuyen' class='haslink indent'>Lời khuyên</a>
                <ul>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-mua' class='haslink '>Lời khuyên cho người mua</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-ban' class='haslink '>Lời khuyên cho người bán</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nha-dau-tu' class='haslink '>Lời khuyên cho nhà đầu tư</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-thue' class='haslink '>Lời khuyên cho người thuê</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-cho-thue' class='haslink '>Lời khuyên cho người cho thuê</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class='lv0'><a href='/noi-ngoai-that' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_interior.svg"></span><span class="text">Nội - Ngoại thất</span></a>
        <ul>
            <li class='lv1'><a href='/noi-that' class='haslink indent'>Nội thất</a>
                <ul>
                    <li class='lv2'><a href='/toan-canh-ngoi-nha' class='haslink '>Toàn cảnh ngôi nhà</a> </li>
                    <li class='lv2'><a href='/phong-khach' class='haslink '>Phòng khách</a> </li>
                    <li class='lv2'><a href='/phong-ngu' class='haslink '>Phòng ngủ</a> </li>
                    <li class='lv2'><a href='/phong-bep' class='haslink '>Phòng bếp</a> </li>
                    <li class='lv2'><a href='/phong-tam' class='haslink '>Phòng tắm</a> </li>
                    <li class='lv2'><a href='/phong-tre-em' class='haslink '>Phòng trẻ em</a> </li>
                    <li class='lv2'><a href='/noi-that-van-phong' class='haslink '>Nội thất văn phòng</a> </li>
                    <li class='lv2'><a href='/khach-san-nha-hang-showroom' class='haslink '>Khách sạn, Nhà hàng, Showroom</a> </li>
                </ul>
            </li>
            <li class='lv1'><a href='/ngoai-that' class='haslink '>Ngoại thất</a> </li>
            <li class='lv1'><a href='/xay-dung' class='haslink indent'>Xây dựng</a>
                <ul>
                    <li class='lv2'><a href='/vat-lieu-xay-dung' class='haslink '>Vật liệu xây dựng</a> </li>
                    <li class='lv2'><a href='/kien-thuc-xay-dung' class='haslink '>Kiến thức xây dựng</a> </li>
                    <li class='lv2'><a href='/giai-phap-xay-dung' class='haslink '>Giải pháp xây dựng</a> </li>
                </ul>
            </li>
            <li class='lv1'><a href='/kien-truc' class='haslink indent'>Kiến trúc</a>
                <ul>
                    <li class='lv2'><a href='/tu-van-thiet-ke' class='haslink '>Tư vấn thiết kế</a> </li>
                    <li class='lv2'><a href='/kien-truc-xua-va-nay' class='haslink '>Kiến trúc xưa và nay</a> </li>
                    <li class='lv2'><a href='/the-gioi-kien-truc' class='haslink '>Thế giới kiến trúc</a> </li>
                    <li class='lv2'><a href='/nha-dep' class='haslink '>Nhà đẹp</a> </li>
                    <li class='lv2'><a href='/thu-vien-mau-nha' class='haslink indent'>Thư viện mẫu nhà</a>
                        <ul>
                            <li class='lv3'><a href='/nha-pho' class='haslink '>Nhà phố</a> </li>
                            <li class='lv3'><a href='/biet-thu' class='haslink '>Biệt thự</a> </li>
                            <li class='lv3'><a href='/chung-cu' class='haslink '>Chung cư</a> </li>
                            <li class='lv3'><a href='/van-phong' class='haslink '>Văn phòng</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class='lv1'><a href='/tu-van-noi-ngoai-that' class='haslink '>Tư vấn nội ngoại thất</a> </li>
            <li class='lv1'><a href='/mach-ban' class='haslink '>Mách bạn</a> </li>
            <li class='lv1'><a href='/mua-sam' class='haslink '>Mua sắm</a> </li>
        </ul>
    </li>
    <li class='lv0'><a href='/phong-thuy' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_feng_shui.svg"></span><span class="text">Phong thủy</span></a>
        <ul>
            <li class='lv1'><a href='/phong-thuy-toan-canh' class='haslink '>Phong thủy toàn cảnh</a> </li>
            <li class='lv1'><a href='/tu-van-phong-thuy' class='haslink '>Tư vấn phong thủy</a> </li>
            <li class='lv1'><a href='/phong-thuy-nha-o' class='haslink indent'>Phong thủy nhà ở</a>
                <ul>
                    <li class='lv2'><a href='/phong-thuy-phong-ngu' class='haslink '>Phong thủy phòng ngủ</a> </li>
                    <li class='lv2'><a href='/phong-thuy-phong-khach' class='haslink '>Phong thủy phòng khách</a> </li>
                    <li class='lv2'><a href='/phong-thuy-phong-bep' class='haslink '>Phong thủy phòng bếp</a> </li>
                    <li class='lv2'><a href='/phong-thuy-phong-tam' class='haslink '>Phong thủy phòng tắm</a> </li>
                    <li class='lv2'><a href='/phong-thuy-cua-chinh-san-vuon' class='haslink '>Phong thủy cửa chính, sân vườn</a> </li>
                </ul>
            </li>
            <li class='lv1'><a href='/phong-thuy-van-phong' class='haslink '>Phong thủy văn phòng</a> </li>
            <li class='lv1'><a href='/tin-tuc-phong-thuy-theo-tuoi' class='haslink '>Phong thủy theo tuổi</a> </li>
        </ul>
    </li>
    <li class='lv0'><a href='javascript:;' class='nolink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_contact_list.svg"></span><span class="text">Danh bạ</span></a>
        <ul>
            <li class='lv1'><a href='/nha-moi-gioi' class='haslink '>Nhà môi giới</a> </li>
            <li class='lv1'><a href='/doanh-nghiep' class='haslink '>Doanh nghiệp</a>
                <ul></ul>
            </li>
        </ul>
    </li>
    <li class="lv0 bg_menu zompchat"><a href="javascript:void(0);" rel="nofollow" title="Trò chuyện với chúng tôi">Trò chuyện với chúng tôi</a> </li>
<ul class='dropdown-navigative-menu'>
    <li class="lv0 tablet">
        <a href="/tin-da-luu">
            <span class="icon">
                <img src="https://staticfile.batdongsan.com.vn/images/mobile/icons/24x24/filled/ic_shortlist.svg">
            </span> <span class="text">Tin đăng đã lưu</span>
        </a>
    </li>
    <li class="lv0 tablet"><a href="/"><span class="icon"><img src="https://file4.batdongsan.com.vn/images/Icons/ic_house.png"></span><span class="text">Trang chủ</span></a> </li>
    <li class='lv0'>
        <a href='/nha-dat-ban' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_for_sale.svg"></span><span class="text">Nhà đất bán</span></a>
        <ul>
            <li class='lv1'><a href='/ban-can-ho-chung-cu' class='haslink '>Nhà</a> </li>
            <li class='lv1'><a href='/ban-nha-rieng' class='haslink '>Đất</a> </li>
            <li class='lv1'><a href='/ban-nha-biet-thu-lien-ke' class='haslink '>Chung cư</a> </li>
            <li class='lv1'><a href='/ban-nha-mat-pho' class='haslink '>Kho, xưởng</a> </li>
            <li class='lv1'><a href='/ban-dat-nen-du-an' class='haslink '>Bất động sản khác</a> </li>
        </ul>
    </li>
    <li class='lv0'>
        <a href='/nha-dat-cho-thue' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_for_rent.svg"></span><span class="text">Khu dân cư</span></a>
        <ul>
            <li class='lv1'><a href='/cho-thue-can-ho-chung-cu' class='haslink '>KDC Hồng Phát</a> </li>
            <li class='lv1'><a href='/cho-thue-nha-rieng' class='haslink '>KDC Nam Long</a> </li>
            <li class='lv1'><a href='/cho-thue-nha-mat-pho' class='haslink '>Cho thuê nhà mặt phố</a> </li>
            <li class='lv1'><a href='/cho-thue-nha-tro-phong-tro' class='haslink '>Cho thuê nhà trọ, phòng trọ</a> </li>
            <li class='lv1'><a href='/cho-thue-van-phong' class='haslink '>Cho thuê văn phòng</a> </li>
            <li class='lv1'><a href='/cho-thue-cua-hang-ki-ot' class='haslink '>Cho thuê cửa hàng - ki ốt</a> </li>
            <li class='lv1'><a href='/cho-thue-kho-nha-xuong-dat' class='haslink '>Cho thuê kho, nhà xưởng, đất</a> </li>
            <li class='lv1'><a href='/cho-thue-loai-bat-dong-san-khac' class='haslink '>Cho thuê loại bất động sản khác</a> </li>
        </ul>
    </li>
    <li class='lv0'>
        <a href='/du-an-bat-dong-san' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_project.svg"></span><span class="text">Dự án</span></a>
        <ul>
            <li class='lv1'><a href='/can-ho-chung-cu' class='haslink '>Căn hộ, Chung cư</a> </li>
            <li class='lv1'><a href='/cao-oc-van-phong' class='haslink '>Cao ốc văn phòng</a> </li>
            <li class='lv1'><a href='/trung-tam-thuong-mai' class='haslink '>Trung tâm thương mại</a> </li>
            <li class='lv1'><a href='/khu-do-thi-moi' class='haslink '>Khu đô thị mới</a> </li>
            <li class='lv1'><a href='/khu-phuc-hop' class='haslink '>Khu phức hợp</a> </li>
            <li class='lv1'><a href='/nha-o-xa-hoi' class='haslink '>Nhà ở xã hội</a> </li>
            <li class='lv1'><a href='/khu-nghi-duong-sinh-thai' class='haslink '>Khu nghỉ dưỡng, Sinh thái</a> </li>
            <li class='lv1'><a href='/khu-cong-nghiep' class='haslink '>Khu công nghiệp</a> </li>
            <li class='lv1'><a href='/du-an-khac' class='haslink '>Dự án khác</a> </li>
            <li class='lv1'><a href='/biet-thu-lien-ke' class='haslink '>Biệt thự, liền kề</a> </li>
        </ul>
    </li>
    <li class='lv0'>
        <a href='/can-mua-can-thue' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_buy_rent.svg"></span><span class="text">Cần mua - Cần thuê</span></a>
        <ul>
            <li class='lv1'>
                <a href='/nha-dat-can-mua' class='haslink indent'>Nhà đất cần mua</a>
                <ul>
                    <li class='lv2'><a href='/mua-can-ho-chung-cu' class='haslink '>Mua căn hộ chung cư</a> </li>
                    <li class='lv2'><a href='/mua-nha-rieng' class='haslink '>Mua nhà riêng</a> </li>
                    <li class='lv2'><a href='/mua-nha-biet-thu-lien-ke' class='haslink '>Mua nhà biệt thự, liền kề</a> </li>
                    <li class='lv2'><a href='/mua-nha-mat-pho' class='haslink '>Mua nhà mặt phố</a> </li>
                    <li class='lv2'><a href='/mua-dat-nen-du-an' class='haslink '>Mua đất nền dự án</a> </li>
                    <li class='lv2'><a href='/mua-dat' class='haslink '>Mua đất</a> </li>
                    <li class='lv2'><a href='/mua-trang-trai-khu-nghi-duong' class='haslink '>Mua trang trại, khu nghỉ dưỡng</a> </li>
                    <li class='lv2'><a href='/mua-kho-nha-xuong' class='haslink '>Mua kho, nhà xưởng</a> </li>
                    <li class='lv2'><a href='/mua-cac-loai-bat-dong-san-khac' class='haslink '>Mua loại bất động sản khác</a> </li>
                </ul>
            </li>
            <li class='lv1'>
                <a href='/nha-dat-can-thue' class='haslink indent'>Nhà đất cần thuê</a>
                <ul>
                    <li class='lv2'><a href='/can-thue-can-ho-chung-cu' class='haslink '>Cần thuê căn hộ chung cư</a> </li>
                    <li class='lv2'><a href='/can-thue-nha-rieng' class='haslink '>Cần thuê nhà riêng</a> </li>
                    <li class='lv2'><a href='/can-thue-nha-mat-pho' class='haslink '>Cần thuê nhà mặt phố</a> </li>
                    <li class='lv2'><a href='/can-thue-nha-tro-phong-tro' class='haslink '>Cần thuê nhà trọ, phòng trọ</a> </li>
                    <li class='lv2'><a href='/can-thue-van-phong' class='haslink '>Cần thuê văn phòng</a> </li>
                    <li class='lv2'><a href='/can-thue-cua-hang-ki-ot' class='haslink '>Cần thuê cửa hàng - ki ốt</a> </li>
                    <li class='lv2'><a href='/can-thue-kho-nha-xuong-dat' class='haslink '>Cần thuê kho, nhà xưởng, đất</a> </li>
                    <li class='lv2'><a href='/can-thue-loai-bat-dong-san-khac' class='haslink '>Cần thuê loại bất động sản khác</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class='lv0'>
        <a href='/tin-tuc' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_news.svg"></span><span class="text">Tin tức</span></a>
        <ul>
            <li class='lv1'><a href='/Covid-19' class='haslink '>BĐS & Covid-19</a> </li>
            <li class='lv1'><a href='/tin-thi-truong' class='haslink '>Tin thị trường</a> </li>
            <li class='lv1'><a href='/interaktivestory' class='haslink '>Interaktive Story</a> </li>
            <li class='lv1'><a href='/phan-tich-nhan-dinh' class='haslink '>Phân tích - nhận định</a> </li>
            <li class='lv1'><a href='/chinh-sach-quan-ly' class='haslink '>Chính sách - Quản lý</a> </li>
            <li class='lv1'><a href='/thong-tin-quy-hoach' class='haslink '>Thông tin quy hoạch</a> </li>
            <li class='lv1'><a href='/bat-dong-san-the-gioi' class='haslink '>Bất động sản thế giới</a> </li>
            <li class='lv1'><a href='/tai-chinh-chung-khoan-bat-dong-san' class='haslink '>Tài chính - Chứng khoán - BĐS</a> </li>
            <li class='lv1'>
                <a href='/tu-van-luat-bat-dong-san' class='haslink indent'>Tư vấn luật</a>
                <ul>
                    <li class='lv2'><a href='/trinh-tu-thu-tuc' class='haslink '> Trình tự, thủ tục</a> </li>
                    <li class='lv2'><a href='/quyen-so-huu' class='haslink '>Quyền sở hữu</a> </li>
                    <li class='lv2'><a href='/tranh-chap' class='haslink '>Tranh chấp</a> </li>
                    <li class='lv2'><a href='/xay-dung-hoan-cong' class='haslink '>Xây dựng - Hoàn công</a> </li>
                    <li class='lv2'><a href='/nghia-vu-tai-chinh' class='haslink '>Nghĩa vụ tài chính</a> </li>
                    <li class='lv2'><a href='/cac-van-de-co-yeu-to-nuoc-ngoai' class='haslink '>Các vấn đề có yếu tố nước ngoài</a> </li>
                </ul>
            </li>
            <li class='lv1'>
                <a href='/loi-khuyen' class='haslink indent'>Lời khuyên</a>
                <ul>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-mua' class='haslink '>Lời khuyên cho người mua</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-ban' class='haslink '>Lời khuyên cho người bán</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nha-dau-tu' class='haslink '>Lời khuyên cho nhà đầu tư</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-thue' class='haslink '>Lời khuyên cho người thuê</a> </li>
                    <li class='lv2'><a href='/loi-khuyen-cho-nguoi-cho-thue' class='haslink '>Lời khuyên cho người cho thuê</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class='lv0'>
        <a href='/noi-ngoai-that' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_interior.svg"></span><span class="text">Nội - Ngoại thất</span></a>
        <ul>
            <li class='lv1'>
                <a href='/noi-that' class='haslink indent'>Nội thất</a>
                <ul>
                    <li class='lv2'><a href='/toan-canh-ngoi-nha' class='haslink '>Toàn cảnh ngôi nhà</a> </li>
                    <li class='lv2'><a href='/phong-khach' class='haslink '>Phòng khách</a> </li>
                    <li class='lv2'><a href='/phong-ngu' class='haslink '>Phòng ngủ</a> </li>
                    <li class='lv2'><a href='/phong-bep' class='haslink '>Phòng bếp</a> </li>
                    <li class='lv2'><a href='/phong-tam' class='haslink '>Phòng tắm</a> </li>
                    <li class='lv2'><a href='/phong-tre-em' class='haslink '>Phòng trẻ em</a> </li>
                    <li class='lv2'><a href='/noi-that-van-phong' class='haslink '>Nội thất văn phòng</a> </li>
                    <li class='lv2'><a href='/khach-san-nha-hang-showroom' class='haslink '>Khách sạn, Nhà hàng, Showroom</a> </li>
                </ul>
            </li>
            <li class='lv1'><a href='/ngoai-that' class='haslink '>Ngoại thất</a> </li>
            <li class='lv1'>
                <a href='/xay-dung' class='haslink indent'>Xây dựng</a>
                <ul>
                    <li class='lv2'><a href='/vat-lieu-xay-dung' class='haslink '>Vật liệu xây dựng</a> </li>
                    <li class='lv2'><a href='/kien-thuc-xay-dung' class='haslink '>Kiến thức xây dựng</a> </li>
                    <li class='lv2'><a href='/giai-phap-xay-dung' class='haslink '>Giải pháp xây dựng</a> </li>
                </ul>
            </li>
            <li class='lv1'>
                <a href='/kien-truc' class='haslink indent'>Kiến trúc</a>
                <ul>
                    <li class='lv2'><a href='/tu-van-thiet-ke' class='haslink '>Tư vấn thiết kế</a> </li>
                    <li class='lv2'><a href='/kien-truc-xua-va-nay' class='haslink '>Kiến trúc xưa và nay</a> </li>
                    <li class='lv2'><a href='/the-gioi-kien-truc' class='haslink '>Thế giới kiến trúc</a> </li>
                    <li class='lv2'><a href='/nha-dep' class='haslink '>Nhà đẹp</a> </li>
                    <li class='lv2'>
                        <a href='/thu-vien-mau-nha' class='haslink indent'>Thư viện mẫu nhà</a>
                        <ul>
                            <li class='lv3'><a href='/nha-pho' class='haslink '>Nhà phố</a> </li>
                            <li class='lv3'><a href='/biet-thu' class='haslink '>Biệt thự</a> </li>
                            <li class='lv3'><a href='/chung-cu' class='haslink '>Chung cư</a> </li>
                            <li class='lv3'><a href='/van-phong' class='haslink '>Văn phòng</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class='lv1'><a href='/tu-van-noi-ngoai-that' class='haslink '>Tư vấn nội ngoại thất</a> </li>
            <li class='lv1'><a href='/mach-ban' class='haslink '>Mách bạn</a> </li>
            <li class='lv1'><a href='/mua-sam' class='haslink '>Mua sắm</a> </li>
        </ul>
    </li>
    <li class='lv0'>
        <a href='/phong-thuy' class='haslink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_feng_shui.svg"></span><span class="text">Phong thủy</span></a>
        <ul>
            <li class='lv1'><a href='/phong-thuy-toan-canh' class='haslink '>Phong thủy toàn cảnh</a> </li>
            <li class='lv1'><a href='/tu-van-phong-thuy' class='haslink '>Tư vấn phong thủy</a> </li>
            <li class='lv1'>
                <a href='/phong-thuy-nha-o' class='haslink indent'>Phong thủy nhà ở</a>
                <ul>
                    <li class='lv2'><a href='/phong-thuy-phong-ngu' class='haslink '>Phong thủy phòng ngủ</a> </li>
                    <li class='lv2'><a href='/phong-thuy-phong-khach' class='haslink '>Phong thủy phòng khách</a> </li>
                    <li class='lv2'><a href='/phong-thuy-phong-bep' class='haslink '>Phong thủy phòng bếp</a> </li>
                    <li class='lv2'><a href='/phong-thuy-phong-tam' class='haslink '>Phong thủy phòng tắm</a> </li>
                    <li class='lv2'><a href='/phong-thuy-cua-chinh-san-vuon' class='haslink '>Phong thủy cửa chính, sân vườn</a> </li>
                </ul>
            </li>
            <li class='lv1'><a href='/phong-thuy-van-phong' class='haslink '>Phong thủy văn phòng</a> </li>
            <li class='lv1'><a href='/tin-tuc-phong-thuy-theo-tuoi' class='haslink '>Phong thủy theo tuổi</a> </li>
        </ul>
    </li>
    <li class='lv0'>
        <a href='javascript:;' class='nolink '><span class="icon"><img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_contact_list.svg"></span><span class="text">Danh bạ</span></a>
        <ul>
            <li class='lv1'><a href='/nha-moi-gioi' class='haslink '>Nhà môi giới</a> </li>
            <li class='lv1'>
                <a href='/doanh-nghiep' class='haslink '>Doanh nghiệp</a>
                <ul></ul>
            </li>
        </ul>
    </li>
    <li class="lv0 bg_menu zompchat"><a href="javascript:void(0);" rel="nofollow" title="Trò chuyện với chúng tôi">Trò chuyện với chúng tôi</a> </li>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<h3>
    Lọc theo
</h3>
<div class="form-group">
    @using (Html.BeginForm("viewSearch", "Home"))
    {
        @Html.DropDownList("MaKhuDanCu", (SelectList)ViewBag.ListKhuDanCu, "Hiển thị tất cả khu dân cư", htmlAttributes: new { @class = "", @onchange = "changeKhuDanCu(this);" })
        @Html.DropDownList("MaLoai", (SelectList)ViewBag.ListLoaiBDS, "Hiển thị tất cả loại", htmlAttributes: new { @class = "", @onchange = "changeLoai(this);" })
        @Html.DropDownList("MaHuong", (SelectList)ViewBag.ListHuong, "Hiển thị tất cả hướng", htmlAttributes: new { @class = "", @onchange = "changeHuong(this);" })
        @Html.DropDownList("MaQuanHuyen", (SelectList)ViewBag.ListQuanHuyen, "Hiển thị tất quận huyện", htmlAttributes: new { @class = "", @onchange = "changeQuanHuyen(this);" })
        <select class="" id="GiaTien" name="GiaTien" onchange="changeGia(this);">
            <option value="">Hiển thị giá</option>
            <option value="0">0 - 500 triệu</option>
            <option value="1">500 triệu - 1 tỷ</option>
            <option value="2">1 tỷ - 2 tỷ</option>
            <option value="3">2 tỷ - 3 tỷ</option>
            <option value="4">3 tỷ - 4 tỷ</option>
            <option value="5">trên 4 tỷ</option>
        </select>
        <input type="text" actions="viewSearch" placeholder="Tìm kiếm địa điểm, khu vực" value="" class="search-bar-input ui-autocomplete-input" id="search-suggestion" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
        <input type="submit" id="btnSearch" class="btn-blue-7" value="Tìm kiếm">
    }
</div>

<div id="data">
</div>