@model DbContextModel.Framework.ThongTinBDS

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Chi tiết bất động sản</h4>
    <hr />
    <div class="overflow-scroll ml-auto col-10">
        @for (int i = 0; i < @Model.Anhs.Count; i++)
        {
            <img class="img-thumbnail" style="max-height: 300px;" src="@Model.Anhs.ElementAt(i).DuongDan" alt="Đã có lỗi khi tải ảnh" />
        }
    </div>

    <div class="my-3 mx-1">
        <p class="h2 text-center font-weight-bold m-5">
            @Html.DisplayFor(model => model.TieuDe)
        </p>
        <table class="table table-hover col-8 mx-auto table-detail-product">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Huong.TenHuong)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Huong.TenHuong)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.KhuDanCu.TenKhuDanCu)
                </td>
                <td>
                    @Html.DisplayFor(model => model.KhuDanCu.TenKhuDanCu)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.LoaiBD.TenLoai)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LoaiBD.TenLoai)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.QuanHuyen.TenQuanHuyen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.QuanHuyen.TenQuanHuyen)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ThongTin.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ThongTin.HoTen)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NgayTao)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ThongTin.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ThongTin.HoTen)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ChieuDai)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ChieuDai)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ChieuRong)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ChieuRong)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MoTa)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SDTChuBan)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SDTChuBan)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Gia)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Gia)
                </td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaTin }) |
    @Html.ActionLink("Trở về quản lý bất động sản", "Index")
</p>
