@model IEnumerable<DbContextModel.Framework.ThongTinBDS>

@{
    ViewBag.Title = "Quản lý bất động sản";
}

<h2>Quản lý tin đăng bất động sản</h2>

@ViewBag.files + "Hello"

<p>
    @Html.ActionLink("Đăng tin", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiBD.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhuDanCu.TenKhuDanCu)
        </th>
        <th>
            Dài
            x
            Rộng
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTChuBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TieuDe)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoaiBD.TenLoai)
    </td>

    <th>
        @Html.DisplayFor(model => item.KhuDanCu.TenKhuDanCu)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.ChieuDai) x
        @Html.DisplayFor(modelItem => item.ChieuRong)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDTChuBan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gia)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaTin }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaTin }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaTin })
    </td>
</tr>
}

</table>
